.awesome-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  height: 592px;
  min-width: 1400px;
  flex-flow: wrap;
  background: $bg-col;
  font-family: $font;
}

.awesome-body h1 {
  position: absolute;
  padding-top: 67px;
  width: 400px;
  height: 44px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  font-family: $font;
  letter-spacing: 0px;
  color: $black;
  left: 39%;
  display: flex;
}
.awesome-body h1::before {
  content: "";
  position: absolute;
  display: flex;
  left: 156px;
  top: 180px;
  width: 84px;
  height: 2px;
  background: $orange;
}

.awesome-body p {
  top: 220px;
  left: 30%;
  font-size: 14px;
  font-family: $font;
  font-weight: normal;
  color: $black;
  position: absolute;
}

.awesome-sec {
  display: flex;
  text-align: center;
  width: 343px;
  height: 290px;
  border-radius: 4px 4px 4px 4px;
  flex-direction: column;
  align-self: center;
  margin: 40px;
  align-content: flex-end;
  padding-top: 200px;
}

.awesome-title {
  font-family: $font;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
  color: $black;
  padding: 10px 0;
  padding-top: 35px;
  border-radius: 4px 4px 0 0;
}

.awesome-text {
  font-family: $font;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  line-height: 25px;
  color: $grey;
  padding-top: 27px;
}
.awesome-pic {
  margin-top: 50px;
}
.awesome-pic1 {
  width: 70px;
  height: 70px;
  background: $ribbon;
  background-position: 1px 5px;
  border-radius: 100px;
  border: 2px solid $orange;
  flex-direction: column;
  align-self: center;
}
.awesome-pic2 {
  width: 70px;
  height: 70px;
  background: $adidas;
  background-position: 4px 5px;
  background-repeat: none;
  border-radius: 100px;
  border: 2px solid $orange;
  flex-direction: column;
  align-self: center;
}
.awesome-pic3 {
  width: 70px;
  height: 70px;
  background: $visa;
  background-position: 4px 7px;
  background-repeat: none;
  border-radius: 100px;
  border: 2px solid $orange;
  flex-direction: column;
  align-self: center;
}
