.contact {
  height: 573px;
  min-width: 1400px;
  background: $orange;
  display: flex;
  justify-content: center;
  position: relative;
}

.contact h1 {
  position: absolute;
  padding-top: 67px;
  align-self: flex-start;
  width: 696px;
  height: 44px;
  font-size: 36px;
  font-weight: 600;
  font-family: $font;
  letter-spacing: 0px;
  color: $font-col;
}

.contact p {
  position: absolute;
  width: 450px;
  height: 44px;
  font-size: 14px;
  font-family: $font;
  font-weight: normal;
  color: $font-col;
  top: 30%;
  left: 23.5%;
}
.contact .main-form {
  height: 314px;
  align-self: flex-end;
  margin-bottom: 40px;
}
.contact .radio-btn {
  padding: 20px;
  align-self: flex-start;
  padding-left: 60px;
}
