@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@import "header";
@import "main";
@import "social";
@import "tabs";
@import "about";
@import "awesome";
@import "contact";
@import "feedback";
@import "footer";
@import "pricing";
@import "variables";

* {
  margin: 0;
  padding: 0;
}
body {
  background: $bg-col;
  min-width: 1400px;
}
