$font: "Montserrat";

$font-col: #ffffff;
$orange: #e27866;
$bg-col: #ffffff;
$grey: #86878b;
$black: #1c1c1c;
$blue: #6696e2;
$green: #41d395;
$lightgrey: #f5f5f5;

$h1-photo: "../images/h1-photo.jpg";
$banner: "../images/cheshire-county-hygiene-services@2x.png";
$banner-svg: url("/images/cheshire-county-hygiene-services.svg");
$main-bg: url("/images/photo-1480714378408-67cf0d13bc1b-min.png");
$tabs-bg: url("/images/tab-bg.png");
$fb-icon: url("/images/facebook-logo.svg");
$ig-icon: url("/images/instagram-logo.svg");
$tw-icon: url("/images/twitter.svg");
$pn-icon: url("/images/pinterest.svg");
$rss-icon: url("/images/rss-solid.svg");
$eye-icon: url("/images/eye-regular.svg");
$comment-icon: url("/images/comment-regular.svg");
$avatar: url("/images/avatar.png");
$ribbon: url("/images/ribbon-img.svg");
$adidas: url("/images/adidas-img.png");
$visa: url("/images/visa-img.png");
