$font: "Montserrat";

$font-col: #ffffff;
$orange: #e27866;
$bg-col: #ffffff;
$grey: #86878b;
$black: #1c1c1c;
$blue: #6696e2;
$green: #41d395;
$lightgrey: #f5f5f5;

$h1-photo: "../images/h1-photo.jpg";
$banner: "../images/cheshire-county-hygiene-services@2x.png";
$banner-svg: "../images/cheshire-county-hygiene-services.svg";
$main-bg: "../images/photo-1480714378408-67cf0d13bc1b-min.png";
$tabs-bg: "../images/tab-bg.png";
$fb-icon: "../images/facebook-logo.svg";
$ig-icon: "../images/instagram-logo.svg";
$tw-icon: "../images/twitter.svg";
$pn-icon: "../images/pinterest.svg";
$rss-icon: "../images/rss-solid.svg";
$eye-icon: "../images/eye-regular.svg";
$comment-icon: "../images/comment-regular.svg";
$avatar: "../images/avatar.png";
$ribbon: "../images/ribbon-img.svg";
$adidas: "../images/adidas-img.png";
$visa: "../images/visa-img.png";
